<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>A4MLNjYxMzYzOGM2YjcyFzSHopLLaTx2C79/GiNczlniqOrXCeD+w+4H+OvzIIXM7AvK3ld2u7IijLa2XaAe10DDyHJgrxTgftwZ17roOatZonSd4eFwaSxfUROgnzzsnUaKWw7yAxzblf1pOiGl85clFJ+f46WwgY5OHVw+j3+ezEOD3OdLufO0Z1rAm08XVaDWUg3p</string>
	<key>email</key>
	<string>eliastorjani@gmail.com</string>
	<key>hash</key>
	<string>CxQzYSLKhJ7+G8LPs0YdtQCVjriFFWJiGr67NdunwK3bf+Xgvlquba3mHxytPLHgngovv+8NY55W9jN5uJ/nCjOhzQJoF0P5Lh+8WdkpVuKEaR6zqnHLEfF7zu05lOMgOrQC83bw1xOw9DiQt2Pubkzz4+k9NEWDrGclLGYHvqwrZYEEVt82</string>
</dict>
</plist>
