<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AQTMediaKeys</key>
	<string>ON</string>
	<key>AQTUpdateNotifs</key>
	<string>ON</string>
	<key>AQT_CurrentVer</key>
	<string>3.6.8</string>
	<key>AQT_InstalledVer</key>
	<string>3.6.8</string>
	<key>AQT_Read_Manual</key>
	<string>Yes for 3.6.8</string>
	<key>AQT_Read_Setup</key>
	<string>Yes for 3.6.8</string>
	<key>AirPodsWg_DevceName</key>
	<string></string>
	<key>CALWGT-DisplayEventsAs</key>
	<string>Now+Next</string>
	<key>CS_HighlightCal_Mode</key>
	<string>Both</string>
	<key>CS_Highlighting</key>
	<string>ON</string>
	<key>CS_LeftUI</key>
	<string>Dock</string>
	<key>CS_UserCalendarPref</key>
	<string>Fantastical</string>
	<key>CS_UserClockFormat</key>
	<string>12hr</string>
	<key>CS_UserDateFormat</key>
	<string>DayMonth</string>
	<key>DNDStatus</key>
	<string>ON</string>
	<key>ESC_Format</key>
	<string>Off</string>
	<key>Emote_PasteCell1</key>
	<string>:stonks:</string>
	<key>HAPTICS_CurrentlyOn</key>
	<string>ON</string>
	<key>Kaomoji_PasteCell1</key>
	<string>¯\_(ツ)_/¯</string>
	<key>MUSIC-Love</key>
	<string>Off</string>
	<key>MUSIC-Stars</key>
	<string>Off</string>
	<key>showAbstractBadge</key>
	<string>false</string>
	<key>showAirmailBadge</key>
	<string>false</string>
	<key>showAppleCalendarBadge</key>
	<string>true</string>
	<key>showAppleMailBadge</key>
	<string>false</string>
	<key>showAstroBadge</key>
	<string>false</string>
	<key>showBodoBadge</key>
	<string>false</string>
	<key>showBoxyBadge</key>
	<string>false</string>
	<key>showCaprineBadge</key>
	<string>true</string>
	<key>showCarrotBadge</key>
	<string>false</string>
	<key>showChromeBadge</key>
	<string>false</string>
	<key>showChromeCanaryBadge</key>
	<string>false</string>
	<key>showDeliveriesBadge</key>
	<string>false</string>
	<key>showDiscordBadge</key>
	<string>false</string>
	<key>showDiscordCanaryBadge</key>
	<string>false</string>
	<key>showFaceTimeBadge</key>
	<string>true</string>
	<key>showFacebookBadge</key>
	<string>true</string>
	<key>showFantasticalBadge</key>
	<string>false</string>
	<key>showFirefoxBadge</key>
	<string>false</string>
	<key>showFranzBadge</key>
	<string>false</string>
	<key>showMailMateBadge</key>
	<string>false</string>
	<key>showMailplaneBadge</key>
	<string>false</string>
	<key>showMaipoBadge</key>
	<string>false</string>
	<key>showMapsBadge</key>
	<string>true</string>
	<key>showNewsBadge</key>
	<string>false</string>
	<key>showNotesBadge</key>
	<string>true</string>
	<key>showOmniFocusBadge</key>
	<string>false</string>
	<key>showOutlookBadge</key>
	<string>true</string>
	<key>showPolymailBadge</key>
	<string>false</string>
	<key>showPostboxBadge</key>
	<string>false</string>
	<key>showQQBadge</key>
	<string>false</string>
	<key>showRemindersBadge</key>
	<string>true</string>
	<key>showSafariBadge</key>
	<string>true</string>
	<key>showSafariPreviewBadge</key>
	<string>false</string>
	<key>showSkypeBadge</key>
	<string>false</string>
	<key>showSkypeBusinessBadge</key>
	<string>false</string>
	<key>showSlackBadge</key>
	<string>false</string>
	<key>showSparkBadge</key>
	<string>false</string>
	<key>showSuperhumanBadge</key>
	<string>false</string>
	<key>showTelegramBadge</key>
	<string>true</string>
	<key>showThingsBadge</key>
	<string>false</string>
	<key>showTrelloBadge</key>
	<string>false</string>
	<key>showTumblrBadge</key>
	<string>false</string>
	<key>showTweetbotBadge</key>
	<string>false</string>
	<key>showTwitchBadge</key>
	<string>false</string>
	<key>showTwitterBadge</key>
	<string>false</string>
	<key>showWeChatBadge</key>
	<string>false</string>
	<key>showWhatsAppBadge</key>
	<string>true</string>
	<key>showYakYakBadge</key>
	<string>false</string>
	<key>showZeplinBadge</key>
	<string>false</string>
	<key>showiMessageBadge</key>
	<string>true</string>
</dict>
</plist>
